.materialBtn {
	display: flex;
	align-items: center;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
	border: none;
	text-align: center;
	text-decoration: none;
	background-color: #032e85;
	color: #fff;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.materialBtn:hover {
	background-color: rgb(3, 38, 104);
	cursor: pointer;
}
